body{
	background-color:#F0FFFF;
	}

h1 {
	font-size:400px;
  	color:#00FFFF;
	font-family: 'Baloo', cursive;
 }

p{
	size:100px;
 	 color:#C71585;
	  
}

Contact GitHub API Training Shop Blog About

