body{
	background-color:#F0FFFF;
	}  

h1 {
	font-size:50px;
  color:#00FFFF;
	font-family: 'Baloo', cursive;
  text-align: center;          
 }

 h2 {
	font-size:20px;
  color:#329f9c;
	font-family: 'Baloo', cursive;
  text-align: center;          
 }

#search{
  margin: auto;
  width: 20%;
}

#pics{
  margin: 50px 200px;
  width: 100%;
}

p{
	size:100px;
 	 color:#C71585;
	  
}
ul {
	text-decoration:none;
	display:inline-block;
}
