body{
	background-color:#00BFFF;
	}

h1 {
	size:400px;
  	color:#00FFFF;
	font-family: 'Supermercado One', cursive;
	font-family: 'Griffy', cursive;
 }

p{
	size:100px;
 	 color:#FF00FF;
	  
}

Contact GitHub API Training Shop Blog About
