<!DOCTYPE html>
  
  <head>
  <head/>
    <body>
  <h1> Welcome to pup.breeders.com, here you can find your dogs perfect match!<h1/>
    <img src= "https://s-media-cache-ak0.pinimg.com/736x/65/9f/5b/659f5bdc2708232b1827288c2b52ebce.jpg">
    <img src="https://s-media-cache-ak0.pinimg.com/736x/f5/9e/8d/f59e8d281bbad7fb7420a72fd58feeb3.jpg">
    <h2> CLICK HERE!
<body/>
      
 
      <li><img> src "https://s-media-cache-ak0.pinimg.com/736x/65/9f/5b/659f5bdc2708232b1827288c2b52ebce.jpg"
    <h2> CLICK HERE!
      
