<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <link href="stylesheet" type="text/css" href="style.css">
    
    <title>Welcome to Pup Breeders!</title>
  </head>
  <header>
  </header>
  <body>
    <button type="button">RAVELRY</button>
    <a href="https://pages.github.com">Github Pages</a>

    <a href="https://sofiacadenas.github.io/pup.breeders.com">github pages</a>
    <gcse:search></gcse:search>
   
  </body>
  <footer> 
  </footer>
</html>

 

