<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <link href="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
    
    <title>Welcome to Pup Breeders!</title>
  </head>
  <body>
     <header> 
   </header>
   

    <a href="https://sofiacadenas.github.io/pup.breeders.com">github pages</a>
    <h1> Welcome to pup breeders!</h1>
    <form action="http://www.google.com/search" class="searchform" method="get" name="searchform" target="_blank">
<input name="sitesearch" type="hidden" value="www.sanwebcorner.com">
<input autocomplete="on" class="form-controls search" name="q" placeholder="Search puppies" required="required"  type="text">
<button class="button" type="submit">Search</button>
</form>
    
    <ul>
      <li><img src = "http://r.ddmcdn.com/w_830/s_f/o_1/cx_0/cy_220/cw_1255/ch_1255/APL/uploads/2014/11/dog-breed-selector-australian-shepherd.jpg"></li>
      <li><img src = "http://www.petmd.com/sites/default/files/salmonella-infection-dogs.jpg"></li>
      <li><img src = "https://content.rspca.org.uk/cmsprd/Satellite?blobcol=urldata&blobkey=id&blobtable=MungoBlobs&blobwhere=1233041352441&ssbinary=true"></li>
     </ul>
    
    
    
   
     <footer> 
    <button type="button">RAVELRY</button>
    <a href="https://www.puppies.com">Puppies</a>
  </footer>
   
  </body>
</html>

 

