<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <link href="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
    
    <title>Welcome to Pup Breeders!</title>
  </head>
  <body>
     <header> 
   </header>
   

    <a href="https://sofiacadenas.github.io/pup.breeders.com">github pages</a>
    <h1> Welcome to pup breeders!</h1>
    <form action="http://www.google.com/search" class="searchform" method="get" name="searchform" target="_blank">
<input name="sitesearch" type="hidden" value="www.sanwebcorner.com">
<input autocomplete="on" class="form-controls search" name="q" placeholder="Search puppies" required="required"  type="text">
<button class="button" type="submit">Search</button>
</form>
   
     <footer> 
    <button type="button">RAVELRY</button>
    <a href="https://www.puppies.com">Puppies</a>
  </footer>
   
  </body>
</html>

 

